<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <appSettings>
    <add key="WebHookToken" value="" />
    <add key="WebHookID" value="" />
    <add key="DiscordToken" value="" />
    <add key="IRCNicknamePass" value=""/>
    <add key="IRCNickname" value=""/>
    <add key="IRCChannel" value=""/>
  </appSettings>
  -->
  <appSettings configSource="Private.config"></appSettings>
</configuration>